.common-header {
  @apply flex h-[42px] fixed left-0 top-0 z-1000  w-full min-w-[1000px] text-left bg-[var(--semi-color-black)];
  font-family: "PingFang SC", "Microsoft YaHei" !important;

  &-side {
    top: 42px;
    .semi-sidesheet-inner {
      background-color: #0d0b23;
    }

    &-second {
      left: 220px !important;
      .semi-sidesheet-inner {
        background-color: #1e1f2d;
      }
    }

    &-shadow {
      .semi-sidesheet-inner {
        box-shadow: 0 0 20px 0 rgb(0 0 0 / 50%);
      }
    }

    .view-all {
      height: 40px;
      line-height: 40px;
      width: 100%;
      margin-bottom: 7px;
      position: relative;
      color: white;
      font-weight: 500;
      cursor: pointer;

      &-show {
        background-color: #1e1f2d;
      }
    }

    .redpoint {
      width: 6px;
      height: 6px;
      border-radius: 5px;
      background-color: #ff3d3d;
    }

    .jiantou {
      float: right;
      font-size: 12px;
      line-height: 40px;
      display: block;
      transform: rotate(270deg);

      svg {
        display: inline-block;
      }
    }

    .product {
      width: 100%;
      height: calc(100% - 40px);

      &-item {
        @apply inline-block relative text-white leading-10 h-10 cursor-pointer hover:bg-[#3a3d51];
        width: 100%;
        font-family: PingFangSC;
        padding: 0 12px 0 14px;
        &-info {
          @apply text-white h-full block float-left;

          i {
            @apply float-left leading-10 block;
            font-size: 16px;
          }

          &-name {
            display: block;
            float: left;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            margin-left: 14px;
          }
        }

        &-oper {
          @apply hidden text-white float-right absolute right-0 top-0 text-right mr-4 h-[38px];

          span {
            line-height: 43px;
            font-size: 14px;
            opacity: 0.6;
            transition: all linear 0.2s;
          }
        }
      }

      &-item:hover {
        .product-item-oper {
          &:hover {
            span {
              opacity: 1;
            }
          }
          display: block;
        }
      }
    }
  }

  .productNameItem {
    @apply cursor-pointer h-full inline-block px-6 border-r border-[#404148] align-top;
  }

  .menu-icon {
    width: 44px;
    height: 42px;
    cursor: pointer;
    background-color: var(--semi-color-primary);

    span {
      position: absolute;
      display: block;
      background-color: white;
      left: 12px;
      width: 20px;
      height: 2px;
      transition: all 0.3s ease-out 0s;

      &:first-child {
        top: 13px;
        transform-origin: left center;
      }
      &:nth-child(2) {
        top: 20px;
      }
      &:last-child {
        top: 27px;
        transform-origin: left center;
      }
    }
  }

  .close {
    span {
      &:first-child {
        transform: rotate(0deg);
      }
      &:last-child {
        transform: rotate(0deg);
      }
    }
  }

  .open {
    span {
      left: 14px;
      &:first-child {
        transform: rotate(45deg);
      }
      &:nth-child(2) {
        top: 20px;
        opacity: 0;
      }
      &:last-child {
        transform: rotate(-45deg);
      }
    }
  }

  .userinfo-container {
    @apply text-white text-sm;
  }
}

.category {
  &-item {
    @apply mb-6 relative w-full;

    &::before {
      content: "";
      width: 100%;
      height: 0;
      border-bottom: 1px solid #3a3d51;
      position: absolute;
      bottom: -5px;
      left: 0;
    }

    .title {
      font-family: PingFangSC-Medium;
      font-size: 16px;
      display: flex;
      color: white;
      &::before {
        content: "";
        width: 4px;
        height: 16px;
        background: var(--semi-color-primary);
        margin-right: 8px;
        display: inline-block;
        margin-top: 2px;
      }
    }

    .product {
      @apply mt-2.5 pr-2.5 float-none;
      &-item {
        @apply mr-2;
        width: calc(50% - 8px);

        i {
          @apply ml-0;
        }
      }
    }
  }
}

.sidesheet-container {
  z-index: 99999;
  position: fixed;
  top: 42px;
  right: 0;
  height: 100vh;
  // pointer-events: none;
}
