.information-title {
  @apply flex items-center my-6;
  h3 {
    @apply text-base mr-3 font-semibold;

    &:before {
      content: "";
      width: 4px;
      height: 16px;
      background: var(--semi-color-primary);
      margin-right: 8px;
      display: inline-block;
      position: relative;
      top: 2px;
    }
  }

  &-line {
    flex: 1;
    height: 1.5px;
    @apply bg-gray-200;
  }
}
