.custom-table {
  .semi-input-wrapper {
    border: none !important;
  }

  // .semi-input-wrapper:hover {
  //   background-color: var(--semi-color-white) !important ;
  //   border-color: transparent;
  // }
  .semi-input-wrapper-focus {
    background-color: var(--semi-color-white) !important ;
    border: 1px var(--semi-color-border) solid !important ;
  }
  .semi-input-wrapper-focus:hover {
    background-color: var(--semi-color-white) !important ;
    border: 1px var(--semi-color-border) solid !important ;
  }
  .semi-input-wrapper-focus:active {
    background-color: var(--semi-color-white) !important ;
    border: 1px var(--semi-color-border) solid !important ;
  }

  .semi-table-tbody > .semi-table-row:hover > .semi-table-row-cell {
    background-color: white;
  }

  .semi-table-tbody > .semi-table-row:hover {
    .cell-icon {
      visibility: visible;
    }
  }

  .semi-table-bordered .semi-table-container {
    border: 1px solid var(--semi-color-border);
  }
}

.cell-icon {
  visibility: hidden;
}
