$module: "structure";

.#{$module} {
  &-wrapper {
    display: flex;
    justify-content: flex-start;
    margin-top: 6px;
    &:hover {
      .#{$module} {
        &-wrapper-field-controller {
          visibility: visible;
        }
      }
    }
    &-action {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 20px;

      &-split {
        display: inline-block;
        width: 2px;
        background: #e9f0f7;
        height: 100%;
        position: relative;
        left: 10px;
      }

      &-select {
        position: absolute;
        top: 80%;
        transform: translateX(-27px);
      }
    }

    &-field {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      width: 100%;
      height: 40px;
      margin-bottom: 4px;
      border-radius: 3px;
      padding: 4px 10px;

      &-controller {
        visibility: hidden;
      }

      &:hover {
        background: #e2ecfa;
      }
    }

    &-fields {
      flex: 1;
      padding: 0 6px;
    }
  }
}

.components-select-demo-renderOptionItem {
  .custom-option-render {
    display: flex;
    font-size: 14px;
    line-height: 20px;
    word-break: break-all;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;

    .option-right {
      margin-left: 8px;
      display: inline-flex;
      align-items: center;
    }
    &:active {
      background-color: var(--semi-color-primary);
    }
    &:hover {
      background-color: var(--semi-color-primary);
    }
    &-focused {
      background-color: var(--semi-color-primary);
    }
    &-selected {
      font-weight: 700;
    }
    &-disabled {
      color: var(--semi-color-disabled-text);
      cursor: not-allowed;
    }
    &:first-of-type {
      margin-top: 4px;
    }
    &:last-of-type {
      margin-bottom: 4px;
    }
  }
}
