@import "./font/iconfont.css";
@import "~@semi-bot/semi-theme-strapi/scss/index.scss";
@import "~@semi-bot/semi-theme-strapi/scss/local.scss";
@import "~@semi-bot/semi-theme-strapi/semi.css";

html,
body,
#root,
#root>* {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
}

html,
body,
section,
div {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background: transparent;
    -webkit-transition: all 1s;
    transition: all 1s;
  }

  &:hover::-webkit-scrollbar-thumb {
    background: var(--semi-color-fill-2);
  }

  &::-webkit-scrollbar-thumb:hover {
    background: var(--semi-color-fill-1);
  }
}

.page-list {
  .list-item {
    cursor: pointer;

    &:hover {
      background-color: var(--semi-color-fill-0);
    }

    &:active {
      background-color: var(--semi-color-fill-1);
    }

    &-active {
      color: var(--semi-color-primary-active);
      font-weight: 600;
      transition: all ease 0.1s;
    }
  }
}


.insetForm {
  .semi-form-field:last-child {
    margin-right: 0px !important;
    padding-right: 0px !important;
  }
}
